body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    shape-rendering: crispEdges;
}

svg {
    font-size: 10px;
}
.ib {
    display: inline-block;
}
#vis {
    width: 100%;
}
/* Timeline */
#timeline {
    position: relative;
    width: 619px;
    margin: 0 auto;
}

.date-summary,
.counts-summary {
    cursor: none;
    position: absolute;
    font-size: 12px;
    right: 0;
    text-align: right;
    min-height: 22px;
}
.emph {
    /*color: #d01c8b;*/
    font-weight: bold;
}
.y-label.listings-color {
    fill: #4dac26;
}
.y-label.interactions-color {
    fill: #d01c8b;
}
svg.fancy-linechart {
    margin-top: 20px;
}
.hero {
    width: 100%;
    margin-bottom: 10px;
}

.hero,
.supply,
.demand {
    padding: 10px;
}

.supply,
.demand {
    background-color: #fafafa;
    vertical-align: top;
    width: 650px;
    display: inline-block;
    overflow: hidden;
}
.chart-label {
    font-size: 16px;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    letter-spacing: 0.75px;
    margin: 5px 0 3px 0;
}
#map-container {
    /*margin-top: 10px;*/
}
.map {
    border: 1px solid #ddd;
    cursor: all-scroll;
}


/* dc.js charts */
.row rect {
    cursor: pointer;
}

.row rect,
.row .selected,
.bar {
    fill: #d01c8b;
}
.row .deselected,
.bar.deselected {
    fill: #ddd;
}
.tick .grid-line {
    stroke: none;
    fill: none;
}
.resize path {
    fill: none;
    stroke: none;
}



/* calendar */
.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

.month.label,
.dow.label {
  /*fill: none;*/
  font-weight: 100;
}

/* map */
circle.data {
    stroke: none;
}



.tooltip {
    position: absolute;
    font-size: 12px;
    width:  auto;
    height: auto;
    pointer-events: none;
    background-color: white;
}

.circle-hover {
    stroke: rgb(222,235,247);
    stroke-width: 1px;
}

.area {
    fill: #d01c8b;
    fill-opacity: 0.6;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.brush .extent {
    stroke: #fff;
    fill: #000;
    fill-opacity: .15;
    shape-rendering: crispEdges;
}