body {
    /*font-family: Montserrat,Avenir Next,Arial,Helvetica,sans-serif;*/
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    shape-rendering: crispEdges;
}

svg {
    font-size: 10px;
}
.ib {
    display: inline-block;
}

.glyphicon {
    font-size: 12px;
    top: -1px;
    margin-right: 2px;
}

#airbnb-dashboard {
    width: 100%;
}
.vis {
    width: auto;
}
.loading {
    font-weight: 100;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin-top: 100px;
    padding: 50px 0;
    background: #f4f4f4;
}

.summary-container {
    /*padding: 10px 50px;*/
    vertical-align: top;
    /*width: 350px;*/
    background: #f4f4f4;
}

.vis-title,
.date-summary,
.listings-summary,
.interactions-summary {
    font-weight: 100;
    cursor: initial;
    text-align: left;
}
.listings-summary,
.interactions-summary {
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    width: 240px;
    cursor: pointer;
    background: #f4f4f4;
}
.listings-summary > div,
.interactions-summary > div {
    font-size: 20px;
}
.vis-title {
    margin-top: 5px;
    font-weight: 200;
    font-size: 18px;
}
.date-summary {
    font-size: 14px;
}
.listings-summary .emph {
    color:  #0571b0;
}
.listings-summary.on,
.interactions-summary.on {
     background: #ccc;
}

.interactions-summary .emph {
    color:  #d01c8b;
}

.summary-change {
    color: #000;
}
.summary-change .emph {
    font-weight: 200;
    color: #000;
}

.supply,
.demand,
.hero > div {
    display: table-cell;
    border: 5px solid #fff;
    padding: 0 10px;
}
.hero > div {
    height: 185px;
}

.zoom {
    text-align: right;
    margin-right: 50px;
    font-size: 12px;
    cursor: pointer;
}
.zoom:hover {
    text-decoration: underline;
}

.emph {
    font-weight: bold;
}
.y-label.listings-color {
    fill: #0571b0;
}
.y-label.interactions-color {
    fill: #d01c8b;
}

.data-container {
    width: 1300px;
    margin: 0 10px;
}
.hero {
    transition: margin 0.5s ease;
    width: 1300px;
    margin: 175px 10px;
}
.hero.on {
    transition: margin 0.5s ease;
    margin-top: 0;
    margin-bottom: 0;
}

.supply,
.demand {
    background: #f4f4f4;
    margin: 0 auto;
    width: 1300px;
    height: 585px;
}
.supply.off,
.demand.off {
    display: none;
    /*visibility: hidden;*/
}
.chart-label {
    font-size: 20px;
    font-weight: 100;
    text-rendering: optimizeLegibility;
    letter-spacing: 0.75px;
    margin: 5px 0 3px 0;
    text-align: center;
    margin: 2px;
    text-shadow: 0 1px 0 #fff;
}
.supply-header,
.demand-header {
    font-size: 16px;
    font-weight: 200;
}


.supply > div {
    margin: 10px auto;
    vertical-align: middle;
}
#map-container {
    width: 40%;
}
.demand .dimensions {
    width: 50%;
}

.demand > div {
    width: 50%;
    margin: 0 auto;
}

.demand .dimensions {
    width: 75%;
}
#path-analysis {
    width: 85%;
}

/* map */
#map-container {
}
.map {
    border: 1px solid #ddd;
    cursor: all-scroll;
}
.map-tooltip {
    pointer-events: none;
    position: absolute;
    background: #ddd;
    padding: 3px;
    font-size: 10px;
    font-weight: 200;
    text-align: center;
}
circle.data {
    opacity: 0.4;
    cursor: default;
    stroke: none;
}
circle.data-hover {
    opacity: 0.7;
    stroke: #fff;
    stroke-width: 2px;
}
.legendTitle {
    text-align: middle;
}
/* dc.js charts */
.dc-chart {
    margin: 0 7px;
}
.row rect {
    cursor: pointer;
}
.row text {
    text-rendering: optimizeLegibility;
    pointer-events: none;
    fill: #fff;
    text-shadow: 1px 2px 1px #000;
    font-size: 13px;
}

.demand .row rect,
.demand .row .selected,
.demand .bar {
    fill: #d01c8b;
}
.supply .row rect,
.supply .row .selected,
.supply .bar {
    fill: #0571b0;
}
.supply .row .deselected,
.demand .row .deselected,
.supply .bar.deselected,
.demand .bar.deselected {
    fill: #ddd;
}
.tick .grid-line {
    stroke: none;
    fill: none;
}
.resize path {
    fill: none;
    stroke: none;
}

/* calendar */
#calendar-container {
    margin-bottom: 10px;
}
.day rect {
  fill: #fff;
  stroke: #ccc;
}

.month path {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

.month-label,
.dow-label {
  font-weight: 200;
}
.heatmap-tooltip {
    pointer-events: none;
    position: absolute;
    background: #ddd;
    padding: 3px;
    font-size: 10px;
    font-weight: 200;
    text-align: center;
}

/* sankey */
.node rect {
    cursor: move;
    fill-opacity: .9;
    shape-rendering: crispEdges;
}

.node text {
    font-weight: 600;
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
}

.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
}
.link:hover {
  stroke-opacity: .5;
}
.sankey-tooltip {
    position: absolute;
    width: auto;
    position: absolute;
    background: #ddd;
    padding: 3px;
    font-size: 10px;
    font-weight: 200;
    text-align: center;
    pointer-events: none;
}
.node rect {
    stroke: none;
}
.node.host rect {
    fill: #0571b0;
}
.node.guest rect {
    fill: #d01c8b;
}
.node.good rect {
    fill: #333;
    stroke: none;
}
.node.bad rect {
    fill: #f4f4f4;
    stroke: #333;
    /*stroke-width: 1.5px;*/
}

/* timeline */
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.brush .extent {
    stroke: #fff;
    fill: #000;
    fill-opacity: .15;
    shape-rendering: crispEdges;
}